@import url('https://cdn.syncfusion.com/ej2/material.css');

.sidebar {
  box-shadow: rgb(113 122 131 / 11%) 0px 7px 30px 0px;
}
.nav-item,
.navbar {
  z-index: 10000;
}
@media  screen and (max-width:800px) {
  .sidebar{
    z-index: 10000000;
  }
}

.e-dlg-center-center, .e-quick-popup-wrapper.e-device{
  z-index: 1000000 !important;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(216, 216, 216);
  border-radius: 40px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}

/* color-picker style  */

 #preview {
  background: transparent
    url('https://ej2.syncfusion.com/react/demos/src/color-picker/images/pen.png')
    no-repeat;
  display: inline-block;
  height: 80px;
  margin: 10px 0;
  min-width: 300px;
  max-width: 600px;
  background-color: #008000;
}

.e-input-group:not(.e-float-icon-left), .e-input-group.e-success:not(.e-float-icon-left), .e-input-group.e-warning:not(.e-float-icon-left), .e-input-group.e-error:not(.e-float-icon-left), .e-input-group.e-control-wrapper:not(.e-float-icon-left), .e-input-group.e-control-wrapper.e-success:not(.e-float-icon-left), .e-input-group.e-control-wrapper.e-warning:not(.e-float-icon-left), .e-input-group.e-control-wrapper.e-error:not(.e-float-icon-left){
  border: none;
}


/* 
login/ landing/reg */

@media (max-width: 900px) {
  .login-left {
    display: none;
  }

  .register-left {
    display: flex;
  }
}

@media (max-width: 600px) {
  .dashboard-main {
    font-size: 20px !important;
  }

  .landing-main {
    font-size: 20px !important;
  }

  .logout-button {
    width: 300px;
  }

  .landing-register-button {
    width: 300px !important;
  }

  .landing-login-button {
    width: 300px !important;
  }

  .dashboard-main p{
    font-size: 15px;
  }
}

@media (max-width: 400px) {
  .dashboard-main {
    font-size: 15px !important;
  }

  .landing-main {
    font-size: 15px !important;
  }

  .logout-button {
    padding: 12px;
  }

  .landing-register-button {
    padding: 8px !important;
    width: 250px !important;
  }

  .landing-login-button {
    padding: 8px !important;
    width: 250px !important;
  }
}

@media (max-width: 370px) {
  .login-center-options {
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
  }

  .login-center-buttons {
    margin-top: 20px;
  }

  .login-center h2 {
    font-size: 30px;
  }

  .login-center p {
    font-size: 15px;
  }

  .register-center-options {
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
  }

  .register-center-buttons {
    margin-top: 20px;
  }

  .register-center h2 {
    font-size: 30px;
  }

  .register-center p {
    font-size: 15px;
  }
}
